<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title> Data Collector App </title>
</head>
<body>
    <div class="container">
        <h1> Collecting Height </h1>
        <h3> Please Fill the Entries to Get Population Statistics on Height </h3>
        <form action="{{url_for('success_file')}}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <button type="submit"> Submit </button>
        </form>
        {% if btn %}
            {% include btn %}
        {% endif %}
    </div>
</body>
</html>